@charset "utf-8";

.uname{
	color:#00F;
	font-weight:bold;
	font-size:15px;
	font-family:erdana, Geneva, sans-serif;
}

.msg{
	color:#390;
	font-size:15px;
	font-family:Georgis, "Times New Roman", Times, serif;
	
}

.button{
	text-align:center;
	background-color:#00F;
	border-width:2px;
	border-style:solid;
	border-color:#000;
	color:#FFF;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
}